{
  "extends": ["standard", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "no-multi-str": "off"
  },
  "env": {
    "jest": true
  }
}
